*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

html, body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    flex-direction: column;
}
body {
    /*background: linear-gradient(344deg, rgb(224, 9, 9) 41%, rgb(218, 214, 40) 100%);*/
    font-family: "lato", sans-serif;
    background-image: url(../img/bow.svg);
    margin-bottom: 200px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 60px;
    padding: 23px;
    background-color: rgba(255, 255, 255,1);
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#footer{
    margin-bottom: 50px;
}

#header{
    margin-bottom: 50px;
}

.title {
    font-size: 50px;
    margin-bottom: 50px;
}

h1 {
    color: #9f6e14;font-family: Arial;
    /*display:inline-block;*/
    margin: 10px;
}

.myContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.whiteRounded {
    background-color: white;
    width: 600px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.whiteRoundedSmall {
    background-color: white;
    width: 500px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.container{
    margin: auto;
    width: 500px;
    max-width: 90%;
}

.container form{
    width: 100%;
    height: 100%;
    padding: 20%;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,.3);
}

.container label{
    text-align: center;
    margin-bottom: 24px;
}

.odd{
    background-color:beige;
}

.studentList{
    font-family: Courier, monospace ;
    font-size: 20px;
}

th {
    background-color: #1da133;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.logout-login{
    position: absolute;
    right: 120px;
    top: 5px;
    color: black;
    border-radius: 20px;
    border:2px solid green;
}
.navbar-nav li a:hover {
    background: #cbefba;
    height: auto;
    margin: 0;
    padding: 8px;
    color:#000;
    border-radius: 20px;
}

.flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}
.flag-icon:before {
    content: '\00a0';
}

.flag-icon-hu {
    background-image: url(../img/hu.svg);
}
.flag-icon-ie {
    background-image: url(../img/ie.svg);
}