<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments.html :: links">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:insert="fragments.html :: heading"></header>
    <div class="myContainer">
        <div class="whiteRounded">
            <h1 class="title">
                <span th:text="#{403.message}"></span><span>😟</span>
            </h1>
        </div>
    </div>
    <footer th:replace="fragments.html :: languages"></footer>
</body>
</html>