<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="links">
    <meta charset="UTF-8">
    <title>Assignment 2</title>
    <link rel="stylesheet" th:href="@{/flag-icon.css}"/>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:fragment="heading">
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:text="#{fragments.home}" th:href="@{/}">Home></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:text="#{fragments.students}" th:href="@{/students}">Students></a>
            </li>
        </ul>
    </nav>


</div>

<footer th:fragment="languages" th:with="currentUrl=(${@thymeleafBeans.removeLangFromUrl()})"
        class="bg-light text-center text-lg-start">
    <a th:href = "@{${currentUrl}(lang=ie)}"><span class="flag-icon flag-icon-ie"></span></a>
    <a th:href = "@{${currentUrl}(lang=hu)}"><span class="flag-icon flag-icon-hu"></span></a>
    <br>
    <span class="text-center p-3">Viktoria Cseke</span>
</footer>

</body>
</html>