<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments.html :: links">
</head>
<body>
    <header th:insert="fragments.html :: heading"></header>
    <div class="myContainer">
        <div sec:authorize="isAuthenticated()" class="whiteRounded">
            <h1 class="title">
                <span th:text="#{index.search}"></span>
            </h1>

            <form class="form-inline justify-content-center">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

        <div sec:authorize="!isAuthenticated()" class="whiteRounded">
            <h1 class="title">
                <span th:text="#{index.welcome}"></span>
            </h1>
        </div>
    </div>
    <footer th:replace="fragments.html :: languages"></footer>
</body>
</html>