<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments.html :: links">
</head>
<body>
    <header th:insert="fragments.html :: heading"></header>
    <div class="myContainer">
        <div sec:authorize="isAuthenticated()" class="whiteRounded">
            <h1 class="title">
                <span th:text="#{index.search}"></span>
            </h1>
            <form method="post" th:action="@{/}" th:object="${searchStudentForm}" class="whiteRoundedSmall">
                <div class="form-group">
                    <label th:text="#{searchstudent.studentId}"></label>
                    <span th:if="${(notfoundid)}"
                          class="errors col-form-label text-danger" th:text="#{searchstudent.notfoundid}"></span>
                    <input type="text" th:field="*{searchStudentId}" id="studentId" class="form-control"/>
                    <br><input type="submit" class="btn btn-success" th:value="#{submit}"/>
                </div>
            </form>
        </div>

    <div sec:authorize="!isAuthenticated()" class="whiteRounded">
            <h1 class="title">
                <span th:text="#{index.welcome}"></span>
            </h1>
        </div>
    </div>
        <footer th:replace="fragments.html :: languages"></footer>
</body>
</html>