<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments.html :: links">
</head>
<body>
<header th:insert="fragments.html :: heading"></header>
<main>
    <div  class="myContainer">
        <form method="post" th:action="@{/newnote}" th:object="${newNoteForm}" class="whiteRounded">
            <h1 class="title">Add new note.</h1>

            <div class="form-group">
                <label for="noteDate" th:text="#{newnote.date}" ></label>
                <span th:if="${#fields.hasErrors('date')}"
                      class="errors col-form-label text-danger" th:errors="*{date}"></span>
                <input type="date" th:field="*{date}" id="noteDate">
            </div>

            <div class="form-group">
                <label for="noteText" th:text="#{newnote.newNoteText}" ></label>
                <span th:if="${#fields.hasErrors('newNoteText')}"
                      class="errors col-form-label text-danger" th:errors="*{newNoteText}"></span>
                <input type="text" th:field="*{newNoteText}" id="noteText" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="student" th:text="#{newnote.chooseStudent}" ></label>
                <select th:field="*{studentId}" id="student" >
                    <option th:each="student: ${students}"
                            th:text="${student.studentId} + ' ' + ${student.getFirstName()}" th:value="${student.studentId}">
                    </option>
                </select>
<!--                -->
                <span th:if="${#fields.hasErrors('studentId')}"
                      class="errors col-form-label text-danger" th:errors="*{studentId}"></span>
<!--                <span th:if="${(duplicateStudent)}"-->
<!--                      class="errors col-form-label text-danger" th:text="#{newstudent.alreadyexists}"></span>-->
            </div>
            <br><input type="submit" class="btn btn-success" th:value="#{newnote.addNote}"/>
            <span th:if="${(successful)}"
                  class="col-form-label text-success" th:text="#{newnote.successfullyadded}"></span>
        </form>
    </div>
</main>

<footer th:replace="fragments.html :: languages"></footer>
</body>
</html>