<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
</head>
<body>
    <div class="centre-screen">
        <h1>Error</h1>

        <h2 th:if="${studentId}">The student with id <span th:text="${studentId}"></span> does not exist.</h2>
<!--        <h2 th:if="${id}">The student with id <span th:text="${id}"></span> does not exist.</h2>-->
    </div>
</body>
</html>