<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments.html :: links">
</head>
<body>
<div>
    <div id="header">>
        <header th:insert="fragments.html :: heading"></header>
    </div>

    <div class="myContainer">
        <div class="whiteRounded">

    <table class="whiteRoundedSmall">
        <h1>
            <span th:text="#{students.all}"></span>
        </h1>
        <tr>
            <th th:text="#{students.id}"></th>
            <th th:text="#{students.email}"></th>
            <th th:text="#{students.fname}"></th>
            <th th:text="#{students.lname}"></th>
        </tr>
        <tr th:each="student, iterationCount: ${students}" th:class="${iterationCount.odd}? 'odd'" th:object="${student}">
            <td th:text="*{studentId}"></td>
            <td th:text="*{email}"></td>
            <td><a th:text="*{firstName}" th:href="'/student/' + *{studentId}"></a></td>
            <td><a th:text="*{lastName}" th:href="'/student/' + *{studentId}"></a></td>
        </tr>
    </table>

    <table class="whiteRoundedSmall">
        <h1>
            <span th:text="#{students.more4}"></span>
        </h1>
        <tr>
            <th th:text="#{students.id}"></th>
            <th th:text="#{students.email}"></th>
            <th th:text="#{students.fname}"></th>
            <th th:text="#{students.lname}"></th>
        </tr>
        <tr th:each="student, iterationCount: ${students}" th:class="${iterationCount.odd}? 'odd'" th:object="${student}">
            <div th:if="${student.getNotes().size() > 4}">
                <td th:text="*{studentId}"></td>
                <td th:text="*{email}"></td>
                <td><a th:text="*{firstName}" th:href="'/student/' + *{studentId}"></a></td>
                <td><a th:text="*{lastName}" th:href="'/student/' + *{studentId}"></a></td>
            </div>
        </tr>
    </table>

    <table class="whiteRoundedSmall" sec:authorize="hasRole('ROLE_MENTOR')">
        <h1>
            <span th:text="#{students.nonotes}"></span>
        </h1>
        <tr>
            <th th:text="#{students.id}"></th>
            <th th:text="#{students.email}"></th>
            <th th:text="#{students.fname}"></th>
            <th th:text="#{students.lname}"></th>
        </tr>
        <tr th:each="student, iterationCount: ${students}" th:class="${iterationCount.odd}? 'odd'" th:object="${student}">
            <div th:if="${student.getNotes().size() == 0}">
                <td th:text="*{studentId}"></td>
                <td th:text="*{email}"></td>
                <td><a th:text="*{firstName}" th:href="'/student/' + *{studentId}"></a></td>
                <td><a th:text="*{lastName}" th:href="'/student/' + *{studentId}"></a></td>
            </div>
        </tr>
    </table>

        </div>
    </div>
</div>

        <div id="footer">
            <footer th:replace="fragments.html :: languages"></footer>
        </div>
</body>
</html>