<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: links">
</head>
<body>
<div>
    <header th:insert="fragments.html :: heading"></header>
    <table class="myContainer">
        <tr>
            <th>Id</th>
            <th>Student</th>
        </tr>
        <tr th:each="student, iterationCount: ${students}" th:class="${iterationCount.odd}? 'odd'" th:object="${student}">
            <td th:text="*{studentId}"></td>
            <td><a th:text="*{firstName}" th:href="'/student/' + *{studentId}"></a></td>
        </tr>
    </table>
</div>

    <footer th:replace="fragments.html :: languages"></footer>
</body>
</html>